.copilot-instructions.md

.core/docs/copilot-setup.md

.vscode/settings.json

eva/*

javascript/eva/*

# Practicas js archivos por desarrollar
javascript/solver/02-dom-basico/css/*
javascript/solver/03-eventos/js/*
